# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [5]:
import pandas as pd

reviews = pd.read_csv("winemag-data_first150k.csv", index_col=0)
pd.set_option("display.max_rows", 5)

reviews.head(5)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [26]:
# Your code here
reviews_written = reviews['taster_twitter_handle'].value_counts()

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [30]:
best_rating_per_price = reviews.groupby('price')['points'].max()

best_wine_by_price = best_rating_per_price.sort_index()

print(best_wine_by_price)

price
4.0       86
5.0       90
          ..
2013.0    91
2300.0    99
Name: points, Length: 357, dtype: int64

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [35]:
price_extremes = reviews.groupby('variety')['price'].agg(['min', 'max'])
price_extremes

              min    max
variety
Agiorgitiko   8.0   65.0
Aglianico     6.0  130.0
...           ...    ...
Zweigelt      9.0   70.0
Žilavka      13.0   15.0

[632 rows x 2 columns]

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [39]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=[False, False])
sorted_varieties

                   min    max
variety
Cabernet-Shiraz  150.0  150.0
Mazuelo           92.0  105.0
...                ...    ...
Terret Blanc       NaN    NaN
Zelen              NaN    NaN

[632 rows x 2 columns]

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [44]:
reviewer_mean_ratings = reviews.groupby('winery')['points'].mean()

reviewer_mean_ratings

winery
'37 Cellars    88.0
1+1=3          83.8
               ...
áster          87.0
Štoka          89.0
Name: points, Length: 14810, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [46]:
reviewer_mean_ratings.describe()

count    14810.000000
mean        87.370020
             ...
75%         89.114316
max        100.000000
Name: points, Length: 8, dtype: float64

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [48]:
country_variety_counts = reviews.groupby(['country', 'variety']).size()

country_variety_counts = country_variety_counts.sort_values(ascending=False)

country_variety_counts

country      variety
US           Pinot Noir            10340
             Cabernet Sauvignon     9178
                                   ...
Switzerland  White Blend               1
US           Carignan-Grenache         1
Length: 1475, dtype: int64

# Keep going